# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*

# Visual Studio / Rider / VS Code
.vs/
.vscode/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.unityproj
*.pdb
*.mdb
*.opendb
*.VC.db

# Mac
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics
crashlytics-build.properties